body {
    font-family: sans-serif;
    background-color: lightblue;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.cont{
                
             font-family: Arial;
             margin: 0 auto;
             max-width: 800px;
             color: grey;
             padding-top: 70;
             padding-left: 30;
             padding-right: 30;
            }
